@inject MqttState MqttState
@inject MqttService MqttService

<h3>Publish</h3>

<div class="form">
    <label>Topic</label><input @bind-value="@topic" @bind-value:event="oninput" />
    <label>Payload</label><textarea @bind-value="@payload" @bind-value:event="oninput" ></textarea>
    <label>Quality of Service</label><input @bind-value="@qos" @bind-value:event="oninput" />
    <label>Retain</label><input @bind-value="@retain" @bind-value:event="oninput" />
    <label></label><button class="btn btn-primary" @onclick="PublishAsync" disabled="@(MqttState.IsConnected == false)">Publish</button>
</div>

@functions {
    string topic;
    string payload;
    int qos;
    bool retain;

    async Task PublishAsync() {
        await MqttService.PublishAsync(topic, payload, qos, retain);
    }
} 