@page "/mqtt"
@inject IMqttService mqttService
<style>

    .btn {
        background-color: white;
    }
    .connected {
        background-color: lightgreen;
    }
    .error {
        background-color: red;
    }
</style>
<div>
    <div class="row">  
        <div class="col-sm-3">  
            <p>Host</p>  
        </div>  
        <div class="col-sm-4">  
            <input placeholder="Host" type="text"  bind="@host" />
        </div>  
    </div>  
</div>
<div>
    <div class="row">  
        <div class="col-sm-3">  
            <p>Port</p>  
        </div>  
        <div class="col-sm-4">  
            <input placeholder="Port 123" type="text"  bind="@port" />
        </div>  
    </div>  
</div>
<div class="row">  
    <div class="col-sm-2">
        <button class="btn @ConnectedClass @ErrorClass" onclick="@connectOrDisconnect">@btnConnectText</button> 
    </div>  
</div>
 
@functions {
    string host;
    string port;
    bool connected;
    bool error;

    private void connectOrDisconnect() {
        if (connected) {
            this.error = !mqttService.Disconnect();
            if (!this.error) {
                this.connected = false;
            }
        } else {
            this.error = !mqttService.Connect(host, port);
            if (!this.error)
            {
                this.connected = true;
            }
        }
    }

    private string ErrorClass => error ? "error" : ""; 
    private string ConnectedClass => connected ? "connected" : ""; 
    private string btnConnectText => connected ? "Disconnect" : "Connect";

}